.sidebar {
  padding: 20px;
  grid-area: n;

  background-color: indianred;
}

.item+.item {
  margin-top: 10px;
}

.item a {
  color: white;

  text-decoration: none;
}

.item a.active_mod {
  color: gold;
}
